---
layout: default
---

<article class="post">
  <h1>{{ page.writeup_ctf }} - {{ page.writeup_challenge }} - CTF Writeup</h1>

  <div class="entry">
      {% if page.writeup_category %}<span><strong>Category : </strong>{{ page.writeup_category }}</span> - {% endif %}
      {% if page.writeup_difficulty %}<span><strong>Difficulty : </strong>{{ page.writeup_difficulty }}</span>{% endif %}
      <blockquote>{% if page.writeup_description %}{{ page.writeup_description }}</span>{% else %}{{ page.post_description }}{% endif %}</blockquote>
      {% if page.writeup_vulnerability %}<span><strong>Vulnerability : </strong>{{ page.writeup_vulnerability }}</span><br>{% endif %}
  	{{ content }}
  </div>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
